---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import HeaderCard from "../components/Home/HeaderCard.astro";
import Card from "../components/Home/Card.astro";
import MiniCard from "../components/Home/MiniCard.astro";
import ObatVitamin from "../components/Home/ObatVitamin.astro";
import Footer from "../components/Footer.astro";
import Article from "../components/Home/Article.astro";

---

<Layout title="Halodocs">
  <header
    class="bg-abu md:pl-20 pt-14 pb-12 space-y-3 text-text-abu bg-[url('/home-banner-v3.svg')] bg-no-repeat bg-bottom px-4"
  >
    <h1 class="font-semibold text-3xl">Solusi Kesehatan Terlengkap</h1>
    <p class="text-xs">
      Chat dokter, kunjungi rumah sakit, beli obat, cek lab dan update informasi
      seputar <br /> kesehatan, semua bisa di Halodoc!
    </p>

    <div id="container" class="flex items-center gap-4 overflow-scroll w-full">
      <HeaderCard src="/header_1.png" title="Chat Dengan Dokter" />
      <HeaderCard src="/header2.png" title="Toko Kesehatan" />
      <HeaderCard src="/header3.png" title="Buat Janji RS" />
      <HeaderCard src="/header4.png" title="Janji Medis" />
      <HeaderCard src="/header5.png" title="Home Lab & Vaksinasi" />
    </div>

    <Card width="max-w-[354px]">
      <div class="flex text-left items-center gap-2 px-2">
        <img src="/header6.png" alt="" class="w-6 h-6" />

        <div>
          <h1 class="text-sm font-medium">Sambungkan Asuransimu</h1>
          <p class="text-xs font-light">
            Dapatkan manfaat asuransi secara langsung untuk layanan Halodoc.
          </p>
        </div>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
        </svg>
      </div>
    </Card>
  </header>

  <!-- LAYANAN -->
  <section
    class="md:pl-20 md:pr-24 pt-14 pb-12 space-y-3 xl:space-y-0 xl:space-x-10 text-text-abu xl:grid xl:grid-cols-2 px-4 w-full"
  >
    <div class="space-y-4">
      <h1 class="font-semibold text-xl">Layanan Khusus</h1>
      <div class="flex items-center gap-x-16 gap-y-4 overflow-scroll">
        <!-- CARD -->
        <MiniCard
          img="home/layanan_khusus/tc-mw-home.webp"
          title="Layanan Bidang"
        />
        <MiniCard
          img="home/layanan_khusus/diabetes-care.webp"
          title="Perawatan Diabetes"
        />
        <MiniCard
          img="home/layanan_khusus/heart-care.webp"
          title="Kesehatan Jantung"
        />
        <MiniCard
          img="home/layanan_khusus/skin-health.webp"
          title="Kesehatan Kulit"
        />
        <MiniCard
          img="home/layanan_khusus/sexual-health.webp"
          title="Kesehatan Seksual"
        />
        <MiniCard
          img="home/layanan_khusus/mental-health-v2.webp"
          title="Kesehatan Mental"
        />
        <MiniCard
          img="home/layanan_khusus/animal-health-v2.webp"
          title="Kesehatan Hewan"
        />
        <MiniCard img="home/layanan_khusus/parenting.webp" title="Parenting" />
      </div>
    </div>

    <div class="space-y-4">
      <h1 class="font-semibold text-xl">Penunjang Kesehatan</h1>
      <div class="flex items-center gap-x-16 gap-y-4 overflow-scroll">
        <!-- CARD -->
        <MiniCard
          img="home/penunjang_kesehatan/stress-check-icon.webp"
          title="Cek Stres"
        />
        <MiniCard
          img="home/penunjang_kesehatan/period-tracker-v2.webp"
          title="Kalender Menstruasi"
        />
        <MiniCard
          img="home/penunjang_kesehatan/bmi-calculator-v2.webp"
          title="Kalkulator BMI"
        />
        <MiniCard
          img="home/penunjang_kesehatan/pregnancy-v2.webp"
          title="Kalender Kehamilan"
        />
        <MiniCard
          img="home/penunjang_kesehatan/heart-risk-calculator.webp"
          title="Risiko Jantung"
        />
        <MiniCard
          img="home/penunjang_kesehatan/diabetes-calculator.webp"
          title="Risiko Diabetes"
        />
        <MiniCard
          img="home/penunjang_kesehatan/medicine-reminder-v2.webp"
          title="Pengingat Obat"
        />
        <MiniCard img="home/penunjang_kesehatan/donation.webp" title="Donasi" />
        <MiniCard
          img="home/penunjang_kesehatan/depresi.webp"
          title="tes depresi"
        />
        <MiniCard
          img="home/penunjang_kesehatan/anxiety.webp"
          title="tes gangguan kecemasan"
        />
      </div>
    </div>
  </section>

  <!-- ARTICLE -->
  <Article />

  <ObatVitamin />

  <Footer />
</Layout>

<style></style>
