---
import Card from "./Card.astro";
---

<div class="px-4 md:pl-20 md:pr-16 pb-12 space-y-3 text-text-abu">
  <h1 class="font-semibold text-2xl">Baca 100+ Artikel Baru</h1>
  <p class="text-xs font-light">
    Dapatkan informasi seputar kandungan, aturan, petunjuk penggunaan obat dan
    vitamin di sini
  </p>

  <div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3">
    <Card>
      <div class="">tes</div>
    </Card>
    <Card>
      <div class="">tes</div>
    </Card>
    <Card>
      <div class="">tes</div>
    </Card>
  </div>
</div>
