---
import Card from "./Card.astro";
---

<div class="px-4 md:pl-20 md:pr-16 pb-12 space-y-3 text-text-abu">
  <h1 class="font-semibold text-2xl">Baca 100+ Artikel Baru</h1>
  <p class="text-xs font-light">
    Dapatkan informasi seputar kandungan, aturan, petunjuk penggunaan obat dan
    vitamin di sini
  </p>

  <div class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3">
    <Card>
      <div class="flex items-center gap-x-2">
        <img src="home/kes_seksual.webp" alt="" class="w-8 h-8 ml-4" />
        <h2 class="font-semibold text-xs">Kesehatan Seksual</h2>
      </div>
    </Card>
    <Card>
      <div class="flex items-center gap-x-2">
        <img src="home/asma.webp" alt="" class="w-8 h-8 ml-4" />
        <h2 class="font-semibold text-xs">Asma</h2>
      </div>
    </Card>
    <Card>
      <div class="font-semibold text-sm inline-block text-primary">Lihat Semua</div>
    </Card>
  </div>
</div>
